html, body {
    padding: 0;
    margin: 0;
    font-family: Poppins, Inter serif;
}
.container {
    padding-inline: 50px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    background-color: black;
    padding: 10px 100px 20px 100px;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav li {
    padding-left: 1rem;
}
li a {
    text-decoration: none;
    color: white;
}
.navbar-brand {
    font-weight: bolder;
    font-size: xxx-large;
}
.nav-link {
    font-weight: bold;
    font-size: x-large;
}
#current {
    border-bottom: 3px solid #ED661F;
}
.login, .get-started {
    font-weight: bold;
    font-size: x-large;
}
.get-started {
    background-color: #ED661F;
    padding: 15px;
}
.section {
    display: flex;
    justify-content: space-around;
}
.section1 {
    background-image: url("/Images/image 1.png");
    background-size: contain;
}
#section1-part1 {
    width: 600px;
}
#s1p1-title {
    font-size: xxx-large;
    font-weight: bold;
}
#explore-more {
    padding: 30px;
    background-color: #ED661F;
    color: white;
    text-decoration: none;
}
#image2 {
    height: 200px;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.54rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
    .section {
        flex-direction: column;
    }
}