html, body {
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 30px 100px 30px 100px;
    color: white;
    align-items: baseline;
}
.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px
}
.navbar-brand {
    font-weight: bolder;
    font-size: xxx-large;
}
.navbar-center {
    font-weight: bold;
    font-size: x-large;
}
#current {
    border-bottom: 3px solid orangered;
}
.navbar-right {
    font-weight: bold;
    font-size: x-large;
}
.navbar-right .get-started {
    background-color: orangered;
    padding: 15px;
}

